<header>
  <%= link_to pages_splash_path, data: { turbo: false }  do %>
    <%= inline_svg_tag "chevron_left.svg", class: "chevron" %>
  <% end %>
  <h1 class="small_h1">resend confirmation<br>instructions</h1>
  <div id="whatever">
    <%= inline_svg_tag "menu.svg", class: "burger-menu" %>
  </div>
</header>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<main class="login">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email" %>
    </div>

    <div class="login_links">
      <%= render "devise/shared/links" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "login_btn", data: { turbo: false } %>
    </div>
  <% end %>
</main>
