<header>
  <h1>categories</h1>
  <div id="whatever">
    <%= inline_svg_tag "menu.svg", class: "burger-menu" %>
  </div>
</header>

<main>
  <ul>
    <% @groups.each do |group| %>
      <% total_amount = total_amount(group) %>
      <li>
        <%= link_to group_purchases_url(group), data: { turbo: false } do %>
          <%= image_tag(check_url(group.icon), height: '32', width: '32', class: 'icon', alt: 'group_icon') %>
          <span><%= group.name %></span>
          <br>
          <span>Total transactions: <%= total_amount %></span>
          <span><%= group.created_at.strftime('%d %b %Y') %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>

<section>
  <%= link_to "add category", new_group_path, class: "btn", data: { turbo: false } %>
</section>
