<header>
  <%= link_to groups_path, data: { turbo: false }  do %>
    <%= inline_svg_tag "chevron_left.svg", class: "chevron" %>
  <% end %>
  <h1>transactions</h1>
  <div id="whatever">
  <%= inline_svg_tag "menu.svg", class: "burger-menu" %>
</div>
</header>

<main>
  <div>
    <span><%= @group.name %></span>
    <span>Total amount: <%= total_amount(@group) %> </span>
  </div>

  <% if @purchases.empty? %>
  <%= button_to "delete", {:controller => :groups, :action => 'destroy', :id => @group.id }, :method => :delete, data: { turbo: false }  %>
  <% end %>

  <ul>
    <% @purchases.each do |purchase| %>
      <li>
        <%= link_to group_purchase_url(@group, purchase), data: { turbo: false } do %>
          <span><%= purchase.name %></span>
          <span><%= purchase.amount %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>

<section id="actions">
  <%= link_to "add transaction", new_group_purchase_path, class: "btn", data: { turbo: false }  %>
</section>
