<header>
  <%= link_to group_purchases_path(params[:group_id]), data: { turbo: false }  do %>
    <%= inline_svg_tag "chevron_left.svg", class: "chevron" %>
  <% end %>
  <h1>new transaction</h1>
  <div id="whatever">
  <%= inline_svg_tag "menu.svg", class: "burger-menu" %>
  </div>
</header>
  
<main>
  <%= form_with(url: group_purchases_path, model: @purchase, class: 'form') do |f| %>
    <div class="field">
      <%= f.label :name, "Name:" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
    <%= f.label :amount, "Amount:" %><br />
    <%= f.text_field :amount, autofocus: true, autocomplete: "amount" %>
  </div>

  <%= f.label :amount, "Choose categories:" %><br />
  <%= f.collection_check_boxes :group_ids, current_user.groups, :id, :name, :include_hidden => false %>

  <div class="actions">
    <%= f.submit "add transaction", data: { turbo: false }  %>
  </div>
<% end %>
</main>
