<header>
  <%= link_to pages_splash_path, data: { turbo: false }  do %>
    <%= inline_svg_tag "chevron_left.svg", class: "chevron" %>
  <% end %>
  <h1>log in</h1>
  <div id="whatever">
    <%= inline_svg_tag "menu.svg", class: "burger-menu" %>
  </div>
</header>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<main class="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field"> 
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field"> 
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="container">
        <%= f.check_box :remember_me %>
        <span class="checkmark"></span>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="login_links">
      <%= render "devise/shared/links" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "login_btn", data: { turbo: false } %>
    </div>
  <% end %>
</main>
